In [1]:
import pandas as pd

In [2]:
doc = pd.read_csv("COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/04-01-2020.csv", encoding='utf-8-sig')

In [3]:
doc

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,1,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-01 21:58:49,43.452658,-116.241552,195,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-01 21:58:49,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2478,NaN,NaN,NaN,Venezuela,2020-04-01 21:58:34,6.423800,-66.589700,143,3,41,99,Venezuela
2479,NaN,NaN,NaN,Vietnam,2020-04-01 21:58:34,14.058324,108.277199,218,0,63,155,Vietnam
2480,NaN,NaN,NaN,West Bank and Gaza,2020-04-01 21:58:34,31.952200,35.233200,134,1,18,115,West Bank and Gaza
2481,NaN,NaN,NaN,Zambia,2020-04-01 21:58:34,-13.133897,27.849332,36,0,0,36,Zambia
2482,NaN,NaN,NaN,Zimbabwe,2020-04-01 21:58:34,-19.015438,29.154857,8,1,0,7,Zimbabwe

In [4]:
# 1. 데이터의 출저와 주제에 대한 이해
# 2. 데이터의 크기 확인
doc.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,1,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-01 21:58:49,43.452658,-116.241552,195,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-01 21:58:49,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [5]:
doc.tail()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
2478,NaN,NaN,NaN,Venezuela,2020-04-01 21:58:34,6.423800,-66.589700,143,3,41,99,Venezuela
2479,NaN,NaN,NaN,Vietnam,2020-04-01 21:58:34,14.058324,108.277199,218,0,63,155,Vietnam
2480,NaN,NaN,NaN,West Bank and Gaza,2020-04-01 21:58:34,31.952200,35.233200,134,1,18,115,West Bank and Gaza
2481,NaN,NaN,NaN,Zambia,2020-04-01 21:58:34,-13.133897,27.849332,36,0,0,36,Zambia
2482,NaN,NaN,NaN,Zimbabwe,2020-04-01 21:58:34,-19.015438,29.154857,8,1,0,7,Zimbabwe

In [7]:
doc.shape

(2483, 12)

In [9]:
doc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483 entries, 0 to 2482
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FIPS            2171 non-null   float64
 1   Admin2          2221 non-null   object
 2   Province_State  2307 non-null   object
 3   Country_Region  2483 non-null   object
 4   Last_Update     2483 non-null   object
 5   Lat             2482 non-null   float64
 6   Long_           2482 non-null   float64
 7   Confirmed       2483 non-null   int64
 8   Deaths          2483 non-null   int64
 9   Recovered       2483 non-null   int64
 10  Active          2483 non-null   int64
 11  Combined_Key    2483 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 232.9+ KB

In [10]:
# 3. 데이터 구성 요소(feature)의 속성(특징) 확인
doc.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key'],
      dtype='object')

In [11]:
# 속성이 숫자라면, 평균, 표준편차, 4분위 수, 최소/최대 확인하기
doc.describe()

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active
count,2171.000000,2482.000000,2482.000000,2483.000000,2483.000000,2483.000000,2483.000000
mean,30017.933671,35.648140,-77.259529,375.596053,18.851792,77.797422,195.069271
std,15494.172170,11.348356,44.340152,4210.635475,351.565670,1506.657766,2798.254454
min,1001.000000,-42.882100,-159.596679,0.000000,0.000000,0.000000,0.000000
25%,18050.000000,33.206991,-94.768959,2.000000,0.000000,0.000000,0.000000
50%,29027.000000,37.565526,-86.181966,7.000000,0.000000,0.000000,0.000000
75%,45016.000000,41.416065,-79.409001,34.000000,1.000000,0.000000,0.000000
max,99999.000000,71.706900,178.065000,110574.000000,13155.000000,63326.000000,80572.000000

In [12]:
#속성간의 상관관계
doc.corr()

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active
FIPS,1.000000,0.144217,0.139813,0.003306,-0.000190,NaN,NaN
Lat,0.144217,1.000000,-0.487517,0.028217,0.021578,-0.004630,0.029301
Long_,0.139813,-0.487517,1.000000,0.157110,0.104027,0.155989,0.143738
Confirmed,0.003306,0.028217,0.157110,1.000000,0.886551,0.727257,0.913162
Deaths,-0.000190,0.021578,0.104027,0.886551,1.000000,0.567840,0.880624
Recovered,NaN,-0.004630,0.155989,0.727257,0.567840,1.000000,0.493139
Active,NaN,0.029301,0.143738,0.913162,0.880624,0.493139,1.000000